In [1]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# import train set
df2 = pd.read_csv('train_dataset.csv')

df2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
# replace null values with mean or mode values
df2['Dependents']=df2['Dependents'].replace(np.nan,0)
df2['Self_Employed'] = df2['Self_Employed'].replace(np.nan,'No')
df2['LoanAmount'] = df2['LoanAmount'].replace(np.nan,df2['LoanAmount'].mean())
df2['Loan_Amount_Term'] = df2['Loan_Amount_Term'].replace(np.nan,360)
df2['Credit_History'] = df2['Credit_History'].fillna(df2['Credit_History'].dropna().mode().values[0])
df2['Gender'] = df2['Gender'].fillna(df2['Gender'].dropna().mode().values[0])
df2['Married'] = df2['Married'].fillna(df2['Married'].dropna().mode().values[0])

In [5]:
df2.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [7]:
df2.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N

In [17]:
df2['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
0      15
Name: Dependents, dtype: int64

In [16]:
df2['Dependents'] = df2['Dependents'].fillna(df2['Dependents'].dropna().mode().values[0])

In [18]:
df2.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [19]:
# mapping of features
mapping = {'Yes' : 1 , 'No' : 0}
df2['Married_area'] = df2['Married'].map(mapping)

mapping1 = {'Male' : 1 , 'Female' : 0}
df2['Gender_area'] = df2['Gender'].map(mapping1)

mapping2 = {'Graduate' : 1 , 'Not Graduate' : 0}
df2['Education_area'] = df2['Education'].map(mapping2)

mapping3 = {'Yes' : 1 , 'No' : 0}
df2['Self_Employed_area'] = df2['Self_Employed'].map(mapping3)

mapping4 = {'Urban' : 1 , 'Semiurban' : 2 , 'Rural' : 3}
df2['Property_Area_section1'] = df2['Property_Area'].map(mapping4)

mapping5 = {'Y'  : 1 , 'N' : 0}
df2['Loan_area'] = df2['Loan_Status'].map(mapping5)

mapping6 = {'0' : 0 , '1' : 1 , '2' : 2 , '3+' : 3}
df2['Dependent_area1'] = df2['Dependents'].map(mapping6)

In [20]:
df2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Married_area,Gender_area,Education_area,Self_Employed_area,Property_Area_section1,Loan_area,Dependent_area1
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y,0,1,1,0,1,1,0.0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N,1,1,1,0,3,0,1.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y,1,1,1,1,1,1,0.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y,1,1,0,0,1,1,0.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y,0,1,1,0,1,1,0.0

In [25]:
df2['Dependent_area1'].value_counts()

0.0    345
1.0    102
2.0    101
3.0     51
Name: Dependent_area1, dtype: int64

In [30]:
df2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Married_area,Gender_area,Education_area,Self_Employed_area,Property_Area_section1,Loan_area,Dependent_area1
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y,0,1,1,0,1,1,0.0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N,1,1,1,0,3,0,1.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y,1,1,1,1,1,1,0.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y,1,1,0,0,1,1,0.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y,0,1,1,0,1,1,0.0

In [31]:
# import ML libraries from scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [32]:
df2.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status',
       'Married_area', 'Gender_area', 'Education_area', 'Self_Employed_area',
       'Property_Area_section1', 'Loan_area', 'Dependent_area1'],
      dtype='object')

In [40]:
# separating dependent and independent variables
x = df2[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'  , 
        'Married_area', 'Gender_area', 'Education_area',
        'Self_Employed_area','Property_Area_section1']].values
y = df2[['Loan_area']].values

In [50]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [42]:
model1 = RandomForestClassifier()

In [43]:
model1.fit(X_train, y_train)

C:\Users\sarwa\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [45]:
model1.score(X_train, y_train)

1.0

In [46]:
model2 = LinearRegression()

In [47]:
model2.fit(X_train, y_train)

LinearRegression()

In [48]:
model1.score(X_train, y_train)

1.0

In [51]:
model1.score(X_test , y_test) # randomforestclassifier

0.8054054054054054

In [52]:
model2.score(X_test , y_test) # linearregression

0.29181497593730554

In [54]:
model3 = DecisionTreeClassifier()
model3.fit(X_train, y_train)

DecisionTreeClassifier()

In [55]:
model3.score(X_test , y_test) # decisiontreeclassifier

0.7297297297297297

In [56]:
from xgboost import XGBClassifier
modelx = XGBClassifier()
modelx.fit(X_train, y_train)

C:\Users\sarwa\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [57]:
modelx.score(X_test , y_test) # XGBcllassifier gives the best score

0.8108108108108109

In [58]:
# predicting x_test after training
ypred_forest = modelx.predict(X_test)
print (ypred_forest)

[1 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 1 0 0 1 0 0 1 0 1 1 1 0 1
 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1 1 1 1 1 0 1 1 1
 1 1 0 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1
 0 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0
 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1]

In [66]:
# import test set
df0=pd.read_csv("test_dataset.csv",index_col=0)

In [68]:
df0.isnull().sum()

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [69]:
# replace null values with means and mode (same as train set)
df0['Dependents']=df0['Dependents'].replace(np.nan,0)
df0['Self_Employed'] = df0['Self_Employed'].replace(np.nan,'No')
df0['LoanAmount'] = df0['LoanAmount'].replace(np.nan,df0['LoanAmount'].mean())
df0['Loan_Amount_Term'] = df0['Loan_Amount_Term'].replace(np.nan,360)
df0['Credit_History'] = df0['Credit_History'].fillna(df0['Credit_History'].dropna().mode().values[0])
df0['Gender'] = df0['Gender'].fillna(df0['Gender'].dropna().mode().values[0])

In [70]:
df0.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [75]:
# mapping for features
mapping0 = {'Yes' : 1 , 'No' : 0}
df0['Married_area'] = df0['Married'].map(mapping0)

mapping01 = {'Male' : 1 , 'Female' : 0}
df0['Gender_area'] = df0['Gender'].map(mapping01)

mapping02 = {'Graduate' : 1 , 'Not Graduate' : 0}
df0['Education_area'] = df0['Education'].map(mapping02)

mapping03 = {'Yes' : 1 , 'No' : 0}
df0['Self_Employed_area'] = df0['Self_Employed'].map(mapping03)

mapping04 = {'Urban' : 1 , 'Semiurban' : 2 , 'Rural' : 3}
df0['Property_Area_section1'] = df0['Property_Area'].map(mapping04)

mapping06 = {'0' : 0 , '1' : 1 , '2' : 2 , '3+' : 3}
df0['Dependent_area1'] = df0['Dependents'].map(mapping06)

In [79]:
df0.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Married_area,Gender_area,Education_area,Self_Employed_area,Property_Area_section1
Loan_ID,,,,,,,,,,,,,,,,
LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1,1,1,0,1
LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1,1,1,0,1
LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1,1,1,0,1
LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban,1,1,1,0,1
LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,0,1,0,0,1

In [78]:
df0 = df0.drop(['Dependent_area1' , 'Dependent_area2'],axis = 1)

In [81]:
y_pred=modelx.predict(X_train)

In [82]:
from sklearn import metrics
metrics.accuracy_score(y_pred, y_train)

1.0

In [83]:
modelx.fit(x,y)

C:\Users\sarwa\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [88]:
# all the test columns equals xx
xx = df0[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'  , 
        'Married_area', 'Gender_area', 'Education_area',
        'Self_Employed_area','Property_Area_section1']].values

In [90]:
df0['Loan_Status']=modelx.predict(xx)

In [138]:
# predicting test set
ypred_foresttest1 = modelx.predict(xx)
print (ypred_foresttest1)

[1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1
 1 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1
 1 1 1 1 1 0 0 0 0 1 1 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0
 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1 0 0 1 0 0 1 1 1 0 0 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 1 0 0 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1 1
 1 1 0 1 1 1 1 0 1 1 1 1 1 0 0 1 1 0 1 0 1 0 1 0 1 1 0 1 0 1 1 1 1 0 1 1 1
 1 1 1 0 0 1 1 0 1 0 0 1 1 1 0 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 1
 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1]

In [125]:
ypred_foresttest1.shape

(367,)

In [126]:
# again convert o and 1 into No and Yes
df0['Loan_Status'] = df0['Loan_Status'].map({1:'Y', 0:'N'}).astype(str)

In [122]:
df0.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Married_area,Gender_area,Education_area,Self_Employed_area,Property_Area_section1,Loan_Status
Loan_ID,,,,,,,,,,,,,,,,,
LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1,1,1,0,1,NaN
LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1,1,1,0,1,NaN
LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1,1,1,0,1,NaN
LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban,1,1,1,0,1,NaN
LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,0,1,0,0,1,NaN

In [133]:
# create columns for the new submission csv file
sub_sample = pd.read_csv('submission.csv')
sub_sample['Loan_Status'] = ypred_foresttest1
sub_sample.head()

In [141]:
sub_sample['Loan_Status'] = sub_sample['Loan_Status'].map({1:'Y', 0:'N'})

In [146]:
# submit file to csv
sub_sample.to_csv('submission.csv', index=False)